#!/bin/bash

## This script will be executed nightly
## as it will live in

# http://wiki.bash-hackers.org/commands/classictest

set -e

## test of the binary exists and is executable
[ -x {{ install_to_path }}/{{ composer_binary_name }} ] || exit 0

## Run the update
{{ install_to_path }}/{{ composer_binary_name }} selfupdate
